<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<div th:replace="fragments/header :: header-css" />
<!-- Style -->

<style>
.table-data2.table tbody tr td:first-child {
	vertical-align: middle;
}

thead input {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}

.table td, .table th {
	vertical-align: middle;
}

::placeholder {
	color: royalblue;
	font-size: 1em;
	font-weight: 300;
}

div#tableCandidate_filter {
	display: none;
}

.flex-content {
	display: flex;
	justify-content: space-between;
}
</style>

<!-- Title Page-->
<title>Candidate Manager</title>
</head>

<body class="animsition">
	<div class="page-wrapper">
		<!-- HEADER MOBILE-->
		<div th:replace="fragments/header-mobile :: header-mobile" />
		<!-- END HEADER MOBILE-->

		<!-- MENU SIDEBAR-->
		<div th:replace="fragments/menu-sidebar :: menu-sidebar" />
		<!-- END MENU SIDEBAR-->

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<div th:replace="fragments/header :: header" />
			<!-- HEADER DESKTOP-->

			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<!-- DATA TABLE-->
							<div class="card">
								<div class="card-header flex-content">
									<div>
										<strong>Candidate </strong>Management
									</div>
									<div style="display: flex;">
										<div class="dropdown show" style="margin-left: 5px;">
											<a class="btn btn-success dropdown-toggle" href="#"
												role="button" id="dropdownMenuLink" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false"> Insert
												Candidate </a>
											<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
												<a class="dropdown-item" th:href="@{/addCandidatePage}">Manually</a>
												<a class="dropdown-item" th:href="@{/import}">Import
													From Excel</a>
											</div>
										</div>
										
									</div>
								</div>
								<div class="card-body card-block">
									<div class="table-responsive table-responsive-data2">
										<table id="tableCandidate"
											class="table table-striped mydatatable">
											<thead>
												<th>Name</th>
												<th>Phone</th>
												<th>Email</th>
												<th>Gender</th>
												<th>DOB</th>
												<th>University</th>
												<th>Enrolled Events</th>
											</thead>
										</table>
									</div>
								</div>
							</div>
							<!-- END DATA TABLE-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/header :: after-body-script" />
		<!-- href select -->
		<script type="text/javascript">
			$(document)
					.ready(
							function() {
								// DataTable
								var tableCounter = $('#tableCandidate')
										.DataTable(
												{
													"buttons": [
														{
															extend: 'excelHtml5',
															text: 'Styled Excel',
															customize: function (xlsx) {
																var source = xlsx.xl['workbook.xml'].getElementsByTagName('sheet')[0];
																source.setAttribute('name', 'Data List');
															}
														}
													],
													stateSave : true,
													"aLengthMenu" : [ 5, 10,
															15, 100 ],
													"columnDefs" : [
															{
																"orderable" : false,
																"targets" : [
																		0, 1,
																		2, 3,
																		4, 5, 6 ]
															},
															{
																"targets" : [ 4 ],
																"render" : $.fn.dataTable.render
																		.moment('DD/MM/YYYY')
															} ],
													"ajax" : {
														url : 'http://localhost:8080/api/manageCandidate',
														dataSrc : ''
													},
													"columns" : [
															{
																data : "name",
																mRender : function(
																		data,
																		type,
																		row) {
																	return '<a href="/candidateDetail/' + row.idCandidate + '">'
																			+ data
																			+ '</a>'
																}
															},
															{
																data : "phone"
															},
															{
																data : "email"
															},
															{
																data : "gender"
															},
															{
																data : "dayOfBirth"
															},
															{
																data : "universityName"
															},
															{
																data : "numOfEvent"
															} ]
												})
								$('.btn-dark').on('click', function() {
									tableCounter.button('1').trigger();
								});
								// Setup - add a text input to each footer cell
								$('#tableCandidate thead th')
										.each(
												function() {
													var title = $(this).text();
													$(this)
															.html(
																	'<input type="text" placeholder="Search ' + title + '" />');
												});
								// Apply the search
								tableCounter
										.columns()
										.every(
												function() {
													var that = this;
													$('input', this.header())
															.on(
																	'keyup change clear',
																	function() {
																		if (that
																				.search() !== this.value) {
																			that
																					.search(
																							this.value)
																					.draw();
																		}
																	});
												});
							});
		</script>
</body>

</html>
<!-- end document-->