<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/header :: header-css" />
<!-- Title Page-->
<title>Create Candidate Event</title>
</head>
<style>
.error {
	color: red;
}
</style>

<body class="animsition">
	<div class="page-wrapper">
		<!-- HEADER MOBILE-->
		<div th:replace="fragments/header-mobile :: header-mobile" />
		<!-- END HEADER MOBILE-->

		<!-- MENU SIDEBAR-->
		<div th:replace="fragments/menu-sidebar :: menu-sidebar" />
		<!-- END MENU SIDEBAR-->

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<div th:replace="fragments/header :: header" />
			<!-- HEADER DESKTOP-->

			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<div class="card-header">
										<strong>Insert </strong>candidate to event
									</div>
									<form id="saveCandidate" th:action="@{/saveCandidateEvent/{id}(id=${idEvent})}"
										th:object="${candidate}" method="post"
										enctype="multipart/form-data" class="form-horizontal">
										<div class="card-body card-block">
											<!-- Email -->
											<div class="row form-group">
												<div class="col col-md-2">
													<label for="select" class=" form-control-label">Email</label>
												</div>
												<div class="col-12 col-md-10">
													<input type="text" class="form-control" id="email"
														name="email" />
												</div>
											</div>

											<!-- Full Name -->
											<div class="row form-group">
												<div class="col col-md-2">
													<label for="text-input" class=" form-control-label">Full
														Name</label>
												</div>
												<div class="col-12 col-md-10">
													<input type="text" class="form-control" id="name"
														name="name">
												</div>
											</div>

											<!-- DOB -->
											<div class="row form-group">
												<div class="col col-md-2">
													<label for="select" class=" form-control-label">DOB</label>
												</div>
												<div class="col-12 col-md-10">
													<input type="text" id="dateOfBirth" name="dateOfBirth"
														class="form-control datepicker-here" />
												</div>
											</div>

											<!-- School -->
											<div class="row form-group">
												<div class="col col-md-2">
													<label for="text-input" class=" form-control-label">School</label>
												</div>
												<div class="col-12 col-md-10">
													<select name="idSchoolCode" id="idSchoolCode"
														class="form-control">
														<option value="0">Please select</option>
														<option th:each="SchoolCode : ${listSchool}"
															th:value="${SchoolCode.idSchoolCode}"
															th:text="${SchoolCode.universityName}"></option>
													</select>
												</div>
											</div>

											<!-- Gender -->
											<div class="row form-group">
												<div class="col col-md-2">
													<label for="text-input" class=" form-control-label">Gender</label>
												</div>
												<div class="col-12 col-md-10">
													<select id="gender" name="gender" class="form-control">
														<option>Male</option>
														<option>Female</option>
													</select>
												</div>
											</div>

											<!-- Phone -->
											<div class="row form-group">
												<div class="col col-md-2">
													<label for="select" class="form-control-label">Phone</label>
												</div>
												<div class="col-12 col-md-10">
													<input type="text" class="form-control" id="phone"
														name="phone" />
												</div>
											</div>


											<!-- Skill -->
											<div class="row form-group">
												<div class="col col-md-2">
													<label for="text-input" class=" form-control-label">Skill</label>
												</div>
												<div class="col-12 col-md-10">
													<select name="idSubSubject" id="idSubSubject"
														class="form-control">
														<option value="0">Please select</option>
														<option th:each="SubSubjectType : ${listSubSubjectType}"
															th:value="${SubSubjectType.idSubSubject}"
															th:text="${SubSubjectType.skill}"></option>
													</select>
												</div>
											</div>

											<!-- Note -->
											<div class="row form-group">
												<div class="col col-md-2">
													<label for="textarea-input" class=" form-control-label">Note</label>
												</div>
												<div class="col-12 col-md-10">
													<textarea name="note" id="note" rows="9"
														placeholder="Content..." class="form-control"></textarea>
												</div>
											</div>

										</div>
										<div class="card-footer">
											<button type="submit" class="btn btn-primary btn-sm">
												<i class="fa fa-upload"></i> Submit
											</button>
											<button type="reset" class="btn btn-secondary btn-sm">
												<i class="fa fa-ban"></i> Reset
											</button>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div th:replace="fragments/header :: after-body-script" />
	 <script>
        $.fn.datepicker.language['en'] = {
            days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
            daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            today: 'Today',
            clear: 'Clear',
            dateFormat: 'dd/mm/yyyy',
            timeFormat: 'hh:ii aa',
            firstDay: 0
        };
    </script>
	
</body>

</html>
<!-- end document-->